form#form(action="/guilds", method="POST")
    input#search(type="text", placeholder="Search guild by ID", name="discordID")
            
section#users
    if error 
        h1.error #{error}
    else 
        object(title="User Avatar" data=avatar, type="image/png") 
            img(src="https://cdn.discordapp.com/embed/avatars/0.png", alt="Default Guild Avatar")
        //- div.user-information 
        //-     p(username) #{user.username}
        //-         if user.bot 
        //-             span.bot bot
        //-     p(tag) #{user.username}##{user.discriminator}
        //-     div.badgesWrapper
        //-         each badge in badges 
        //-             img(src=badge, alt="badge")